body{
    display: flex;
    background-color: aquamarine ;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 98%;
}
.demo{
    /* background-color: azure; */
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 40px;
}
.demo::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    display: flex;
    right: 40px;
}
